[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sudo holoiso_migrationtool
GenericName[en_US]=
GenericName=
Icon=run-install
MimeType=
Name[en_US]=Migrate RW HoloISO to RO
Name=Migrate RW HoloISO to RO
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=